:root{
    --rotation-duration: 40s;
}

.rotation{
    animation: orbit var(--rotation-duration) linear infinite;
}

.rotation-reverse{
    animation: orbit var(--rotation-duration) linear reverse infinite;
}

@keyframes orbit {
    100%{
        rotate:1turn;
    }
}